.mod_joomla4_module_custom_form_fields p:last-of-type {
    border-bottom: dashed 3px #33396d;
    padding-bottom: 10px;
}
.mod_joomla4_module_custom_form_fields img {
    padding-bottom: 10px;
    margin-bottom: 20px;
}